.carter::before {
  content: "";
  position: absolute;
  height: 2px;
  left: -35px;
  top: 50%;
  width: 27px;
  background: #dfae4f;
}

.consultation-bg {
  background: url("./img/coil.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


.home-hero {
  background-color: #1e2027;
  background: url("./img/herobg.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
div, button, li, a, img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
